main {
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  overflow: hidden;
}

#welcome {
  width: 90%;
background-color: rgb(97, 95, 95);
color: greenyellow;
text-align: center;
margin-left: auto;
margin-right: auto;
height: fit-content;
}

#welcome div{
  font-size: 2vw;
}

#welcome p {
  font-size: .7vw;
}

#cards{
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

#searchDiv {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

#dropdown-basic{
  width: 15vw;
  height: 3vw;
  background-color: greenyellow;
  color:  rgb(97, 95, 95);
  font-size: 1vw;
}

.dropdown-menu{
  background-color: greenyellow;
  width: 15vw;
}



#searchBar {
  width: 40%;
  text-align: center;
  height: 3vw;
  border-radius: 30px;
  background-color: greenyellow;
  color: #282c34;
  font-size: 2vw;
}

